<div class="center jumbotron">
  <h1>Welcome to the calendar app!</h1>
  <div style="text-align:center;">
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary "  %>
  </div>
</div>
