<h1>Calendar#mainpage</h1>
<p>Find me in app/views/calendar/mainpage.html.erb</p>

<button class="btn"><span class="glyphicon glyphicon-chevron-left "></span></button>
<button class="btn"><span class="glyphicon glyphicon-chevron-right "></span></button>


<table class="table table-hover table-bordered">
  <tr>
    <td>Sunday</td>
    <td>Monday</td>
    <td>Tuesday</td>
    <td>Wednesday</td>
    <td>Thursday</td>
    <td>Friday</td>
    <td>Saturday</td>
  </tr>
  <% @arr.each do |s| %>
  <tr>
    <% s.each do |f| %>
    <td><%= f %></td>
    
    <% end %>
    
  </tr>
  <% end %>
</table>


