<header class="navbar navbar-fixed-top navbar-default">
<div class=" container navbar-header">
    <%= link_to "calendar app", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
    </nav>
</div>
</header>
