<header class="navbar navbar-fixed-top navbar-default">
<div class="container navbar-header">
    <%= link_to "calendar app", root_path, id: "logo" %>
</div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Login", "#"%></li>
      <li><%= link_to "Sign up", "#"%></li>
      </ul>
    </nav>

</header>
